python-dotenv
requests
openai
aiohttp
django
djangorestframework
markdown
django-filter
djangorestframework-simplejwt
djangorestframework 
simplejwt 
django-cors-headers
django-sslserver
drf-yasg
djongo
chromadb
llama-index==0.9.1
urllib3==1.26.18
langchain
langchain-community
langchain-core
langchain-openai