python-dotenv
requests
google-generativeai
openai
aiohttp
django
djangorestframework
markdown
django-filter
djangorestframework-simplejwt
djangorestframework 
simplejwt 
django-cors-headers
django-sslserver
drf-yasg
djongo
langchain 
langchain-community
langchain-core
chromadb 
langchain-openai
langchain-community
langchainhub
llama-index==0.9.1
urllib3==1.26.18